@import "helpers/_1variables";
@import "helpers/_include-media";
@import "helpers/slick";
@import "helpers/menu";

/*
#
!   Index
 */

@import "views/index/overview";

* {
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

body {
  margin: 0;
  padding: 0;
}

.section_content {
  max-width: 1600px;
  padding: 100px 50px;
}
