$breakpoints: (
  "smartphone": 480px,
  "small": 600px,
  "medium": 760px,
  "desktop": 1000px,
  "gallerydesktop": 1300px,
  "contentend": 1700px
);

/* Variables */
$primaryColor: #4048fa;
$colorWhite: #fff;
$colorBlack: #000;
$colorHeading: #1f1f24;
$colorText: #484753;
$colorGreen: #6ab04c;
$colorLightRed: #eb4d4b;
$colorSweetAlert: #ff3f34;
