section.section--menu {
  box-shadow: 0 10px 30px rgba($colorBlack, 0.3);
  position: sticky;
  background-color: $colorWhite;
  top: 0;
  left: 0;
  z-index: 100;
  .section_content {
    padding: 0 50px;
    transition: padding 0.2s ease-in-out;
    @include media("千esktop") {
      padding: 0 30px;
    }
    @include media("山mall") {
      padding: 0 20px;
    }
    display: flex;
    justify-content: space-between;
    height: 80px;
    .activatemobile {
      display: block !important;
    }
    div.burgermenu {
      cursor: pointer;
      display: none;
      position: relative;
      width: 35px;
      height: 35px;
      margin: 22px 0 0;
      z-index: 20;
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        width: 90%;
        height: 3px;
        background-color: $colorText;
        transform: rotate(0deg) translateX(-50%);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
          top 0.3s ease-in-out, left 0.3s ease-in-out, width 0.5s ease-in-out;
      }
      &::before {
        top: 3px;
      }
      &::after {
        top: calc(100% - 6px);
      }
      span.thirdbar {
        opacity: 1;
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: $colorText;
        transform: translateY(-50%);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
          top 0.3s ease-in-out, left 0.5s ease-in-out;
      }
      overflow: hidden;
      @include media(">desktop") {
        &:hover {
          span.thirdbar {
            opacity: 0.4;
          }
        }
      }
      &.active {
        span.thirdbar {
          opacity: 0.5;
          left: 100%;
        }
        &::before {
          top: 50%;
          transform: rotate(45deg) translate3d(0, 0, 0);
          width: 100%;
          left: 0px;
        }
        &::after {
          width: 100%;
          top: 50%;
          transform: rotate(-45deg) translate3d(0, 0, 0);
          left: 0;
        }
      }
    }
    div.actualmobilemenu {
      max-width: 1600px;
      margin: 0 auto;
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      background-color: $colorWhite;
      ol {
        margin: 120px 50px 40px;
        width: calc(100% - 100px);
        @include media("千esktop") {
          margin: 120px 30px 40px;
          width: calc(100% - 60px);
        }
        @include media("山mall") {
          margin: 120px 20px 40px;
          width: calc(100% - 40px);
        }
        position: absolute;
        left: 0;
        top: 0;
        transition: top 0.5s ease-in-out, left 0.5s ease-in-out;
        transition-delay: 0.2s;
        padding: 0;
        margin: 0;
        li {
          width: 100%;
          display: block;
          list-style-type: none;
          margin: 0 0 20px;
          a {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 0 0 50px;
            text-decoration: none;
            color: $colorText;
            height: 40px;
            img {
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              width: 40px;
              height: 40px;
              height: 100%;
            }
          }
        }
        &.noimg {
          li {
            a {
              padding: 0;
            }
          }
        }
      }
      transition: top 0.5s ease-in-out;
      &.beforehidden {
        ol {
          left: -100%;
        }
      }
      &.hidden {
        top: -100vh;
        ol {
          left: -100%;
        }
      }
    }
    div.actualdesktopmenu {
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &.opacitymakemobile {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }
      &.makemobile {
        display: none;
      }
    }
    div.desktopmenu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      ol {
        padding: 0;
        margin: 0;
        display: flex;
        li {
          position: relative;
          list-style-type: none;
          &:nth-last-child(1) {
            a {
              margin: 0;
            }
          }
          a {
            display: block;
            padding: 0 0 0 40px;
            margin: 0 30px 0 0;
            text-decoration: none;
            color: $colorText;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 2px;
            img {
              position: absolute;
              left: 0;
              top: 0;
              display: block;
              width: 30px;
              height: 30px;
            }
          }
        }
        &.noimg {
          li {
            a {
              padding: 0;
            }
          }
        }
      }
    }
    div.logo {
      z-index: 20;
      width: 70px;
      height: 70px;
      margin: 5px 0;
      a {
        display: block;
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
    .cloneddesktopmenu {
      cursor: default !important;
      position: absolute;
      top: -100vh;
      left: 0;
      max-width: 100%;
      overflow-x: scroll;
      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      opacity: 0;
      a {
        cursor: default;
      }
    }
  }
}
